{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container-fluid">
		<div class="container">
			<div class="formBox">
				<div class="row">
					<div class="col-sm-12">
						<center><h3>SEU EMAIL FOI ENVIADO COM SUCESSO!</h3>
                        <p>Verifique seu email para maiores informações!!</p></center>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>